<style>


    .xingming{
        margin-top: 19%;margin-left: 12%;
    }

    .xinbie{
        margin-top: 2%;margin-left: 12%;
    }

    .nianling{
        margin-top: 2%;margin-left: 12%;
    }

    .sfzh{
        margin-top: 2%;margin-left: 23%;
    }

    .bh{
        margin-top: 2%;margin-left: 12%;
    }

    .fzrq{
        margin-top: 2%;margin-left: 20%;
    }

    .fzjg{
        margin-left: 20%; margin-top: 5px;
    }

</style>
<div class="bjui-pageContent" style="background-size:100%;background-image: url('/assets/images/credentialsCardBg.png');overflow-y: hidden;">

    <div class="xingming" style="">
        <label>$!examEcard.name</label>
    </div>

    <div style="position:fixed;" >
        <image src="$!examEcard.qrCodeUrl" style="width: 80px;height: 80px;float: right;margin-left: 151px;margin-top: -25px;"></image>
    </div>

    <div style="position:fixed;">
        <image src="$!examEcard.memberPhoto" style="margin-left: 268px;width: 90px;height: 120px;"></image>
    </div>
    <div style="position:fixed;margin-left: 269px; margin-top: 123px;">
        <label>$!examEcard.examNumber</label>
    </div>


    <div class="xinbie" style="">
        <label>
            #if($!examEcard.sex==0)
                女
            #else
                男
            #end
        </label>
    </div>
    <div class="nianling" style="">
        <label>$!examEcard.memberAge</label>
    </div>
    <div  class="sfzh" style="">
        <label>$!examEcard.idCardNumber</label>
    </div>
    <div  class="bh" style="">
        <label>$!examEcard.eCardNumber</label>
    </div>
    <div class="fzrq" style="">
        <label>$!examEcard.issueTimeStr</label>
    </div>
    <div class="fzjg"style="">
        <label>常熟市疾病预防控制中心</label>
    </div>
</div>

<script>

</script>