<div class="bjui-pageHeader">
    <form id="pagerForm" data-toggle="ajaxsearch" action="#U('index')" method="post">
        #pageInput($page)

        <div class="bjui-searchBar">
            <label>用户名：</label>
            <input type="text" id="customNo" value="$!query.username" name="username" class="form-control" size="10">&nbsp;

            <button type="submit" class="btn-default" data-icon="search">查询</button>&nbsp;
            <a class="btn btn-orange" href="javascript:;"
               data-toggle="reloadsearch" data-clear-query="true"
               data-icon="undo">清空查询</a>
            &nbsp;&nbsp;&nbsp;
            <a href="#U('toAddUser')" class="btn btn-default"
               data-toggle="navtab"
               data-id="addUser"
               data-title="新增"
            >&nbsp;新增&nbsp;</a>
        </div>
    </form>
</div>
<div class="bjui-pageContent tableContent">
    <table class="table table-bordered table-hover table-striped table-top" data-selected-multi="true">
        <thead>
        <tr>

            <th align="center">用户名</th>
            <th>昵称</th>
            <th>邮箱</th>
            <th>电话</th>
            <th width="220">操作</th>
        </tr>
        </thead>
        <tbody>
            #foreach($vo in $page.list)
            <tr>

                <td>$!vo.username</td>
                <td>$!vo.nickname</td>
                <td>$!vo.email</td>
                <td>$!vo.mobile</td>
                #if($!vo.status=="enable")
                    <td>启用</td>
                #elseif($!vo.status=="disable")
                    <td>禁用</td>
                #end
                <td>


##                    <a type="button" class="btn btn-red" href="#U('delete?uid=?',$vo.uid)"
##                       data-toggle="doajax" data-confirm-msg="确定要删除吗？">删除</a>
                    #if($!vo.status=="enable")
                        <a   data-toggle="doajax"  data-confirm-msg="确定禁用吗？" title="禁用用户"  class="btn btn-default" href="#U('toStartStop?uid=?',$vo.uid)">禁用</a>
                    #elseif($!vo.status=="disable")
                        <a   data-toggle="doajax"  data-confirm-msg="确定启用吗？" title="启用用户"  class="btn btn-default" href="#U('toStartStop?uid=?',$vo.uid)">启用</a>
                    #end
                    <a   data-toggle="dialog" data-id="updateUserPwd" data-width="600"  class="btn btn-default" href="#U('toUpdateUserPwd?uid=?',$vo.uid)"
                    >重置密码</a>
                    <a   data-toggle="navtab" data-id="updateUser" data-width="600"  class="btn btn-default" href="#U('toUpdateUser?uid=?',$vo.uid)"
                       >修改</a>
##                    <a type="button" class="btn-green" data-toggle="dialog"  data-title="修改">修改</a></p>
                </td>
            </tr>
            #end
        </tbody>
    </table>

</div>
#page($page)
