/* CSS Document */

/*通用样式*/
*{ margin:0; padding:0;}
.main{width:100%; height:100%; margin:0 auto; background: #061e57;}
ul,ol,li{ list-style:none;}
.left{float:left;}
.right{float:right;}
a{ color:#000; text-decoration:none;}
.clearf{ clear:both;}

img{border:0px;}

.disable{display: none;}

body{

    font-family: 微软雅黑;
    font-size: 14px;
    background: #fff;
}
.content{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
/* 抬头*/
.logintop{height: 44px;}
.logintop span{
line-height: 47px;
text-indent: 44px;
color: #afc5d2;
float: left;}
.logintop ul {
    float: right;
    padding-right: 30px;
}
.logintop ul li {
    float: left;
    margin-left: 20px;
    line-height: 47px;
}
.logintop ul li a {
    color: #afc5d2;
}
/*主体登录*/
.loginbody{
background:url("../img/1_02.png");
width: 100%;
height: 100%;
overflow: hidden;
z-index: 100;
position: absolute;

}
.loginbox {
    width: 579px;
    height: 546px;
    background: url("../img/2_03.png") no-repeat;
    position: relative;
    margin: 180px auto;

}
.loginbox ul {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -70px;
    margin-left: -210px;
}
.loginbox ul li {
    margin-bottom: 10px;
}
.loginuser {
    width: 366px;
    height:70px;
    background:url(../img/3_03.png) no-repeat;
    border: none;
    line-height: 48px;
    padding-left: 60px;
    font-size: 16px;
    font-weight: bold;outline: 0;
}
.loginpwd {
    width: 366px;
    height: 70px;
    background:url(../img/4_06.png) no-repeat;
    border: none;
    line-height: 48px;
    padding-left: 60px;
    font-size: 16px;
    outline: 0;
}
.loginbtn {
    width: 110px;
    height: 40px;
    background:#c8e0f6;
    font-size: 20px;
    /*font-weight: bold;*/
    color: #000;
    cursor: pointer;
    line-height: 35px;
    border:0px;
    border-radius: 3px;
}
.loginbox ul li label {

    padding-left: 50px;
}

.loginbox ul li label input {
    margin-right: 5px;
}
.remb a,.loginbox ul li label{ color: #fff; font-size: 16px}
.remb{ padding-left:100px}







