<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>支付成功</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../assets/B-JUI/BJUI/themes/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/wap/style.css">
    <script src="../assets/B-JUI/BJUI/js/jquery-1.7.2.min.js"></script>
</head>
<body>
<section>
    <div class="pay-head">
        <img src="../assets/images/wap/u14.png" alt="">
    </div>
</section>
<section class="container-fluid pay-detail">
    <p class="text-center">请持本人省份证至自助机上打印新体检单后再去体检</p>
</section>
<button class="pay-now">支付完成</button>

<script>
    /* 设置根元素的font-size大小 */
    document.getElementsByTagName('html')[0].style.fontSize = window.innerWidth / 10 + 'px';
    //点击同意按钮，跳转体检登记页
    $("#agreeNotice").click(function () {
        var openId = $("#openId").val();
        window.location.href = "http://"+window.location.host+"/wap/wapAdd.do?openId="+openId;
    });
</script>
</body>
</html>