<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>乡镇复检单</title>
    <style>
        ul{
            padding: 0;
        }
        li{
            list-style: none;
        }
        .clearfix{
            clear: both;
        }
        .paper-size{
            width: 628px;
            height: 830px;
            margin: 30px;
        }
        .paper-size ul{
            width: 100%;
            height: 402px;
        }
        .paper-size li{  height: 134px;  }
        .page-head{height: 156px}
        .page-head{height: 156px}
        .page-head>div{  float: left;  }
        h1,h2{ margin: 10px 0;font-weight:normal; width: 448px;text-align: center; }
        .foot-l{  float: left;  }
        .foot-r{  float: right; text-align: center;width: 224px;}
        .foot-l span, .foot-r span{  display: block;  text-align: center;}
        p{font-size: 16px; line-height: 28px; margin: 0;}
        h1{  font-size: 16px; margin-bottom: 30px;}
        h2{  font-size: 24px;  }
        .logo-box{ width: 160px}
        .logo-box img{width: 100%;}
        .title-box div{ float: right; width: 468px;}
        .page-a{padding: 40px 0 20px 0;}
    </style>
    <script src="/js/jquery-1.7.2.min.js"></script>
    <script src="/assets/printExam/js/JsBarcode.code128.min.js"></script>
    <script src="/js/LocalServiceApi.js"></script>

</head>
<body>

#set($brandIndex=1)
#foreach($vo in $!townshipReviewList)
<div class="paper-size">
    <ul>
        <li style="width: 100px;height: 20px;"></li>
        <li class="page-head">
            <div class="logo-box">
                <img src="/assets/examLogo.png">
            </div>
            <div class="title-box">
                <h1>常熟市疾病预防控制中心</h1>
                <h2>预防性健康检查不合格告知书存根</h2>
                <div style="width: 100px;float: right;">
                    <img class="tjCodeImg$!{velocityCount}" width="100px" height="30px;">
                    <div style="width: 100px;text-align: center;">$!vo.examMemberExam.examNumber</div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </li>
        <li>
            <p>$vo.examMemberExam.workUnit：</p>
            <p>
                &nbsp;&nbsp;经检查，
                你单位${vo.examMemberExam.name}在预防性健康检查中发现
                #foreach($to in $!vo.examBlodIntestinalList)
                    $!to.projectName、
                #end
                不符合健康证明要求，
                请在接到本告知书的10个工作日内提出复查要求，带好本人身份证复检单并在单位
                负责人陪同下到本中心接受复检。如在接到本告知书10个工作日内未答复，视为无异议。
            </p>
        </li>
        <li>
            <div class="page-a">
                <span class="foot-l">被告知者签名</span>
                <span class="foot-r">常熟市疾病预防控制中心</span>
                <div class="clearfix"></div>
            </div>
            <div>
                <span class="foot-l">
                    &nbsp;&nbsp;
                    年&nbsp;月&nbsp;日
                </span>
                <span class="foot-r">$!printDate</span>
                <div class="clearfix"></div>
            </div>

        </li>
    </ul>
    <p>----------------------------------请骑缝盖章----------------------------------</p>
    <ul>
        <li style="width: 100px;height: 20px;"></li>
        <li class="page-head">
            <div class="logo-box">
                <img  src="/assets/examLogo.png">
            </div>
            <div class="title-box">
                <h1>常熟市疾病预防控制中心</h1>
                <h2>预防性健康检查不合格告知书存根</h2>
                <div style="width: 100px;float: right;">
                    <img class="tjCodeImg$!{velocityCount}" width="100px" height="30px;">
                    <div style="width: 100px;text-align: center;">$!vo.examMemberExam.examNumber</div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </li>
        <li>
            <p>$vo.examMemberExam.workUnit：</p>
            <p>
                &nbsp;&nbsp;经检查，
                你单位${vo.examMemberExam.name}在预防性健康检查中发现
                #foreach($to in $!vo.examBlodIntestinalList)
                    $!to.projectName、
                #end
                不符合健康证明要求，
                请在接到本告知书的10个工作日内提出复查要求，带好本人身份证复检单并在单位
                负责人陪同下到本中心接受复检。如在接到本告知书10个工作日内未答复，视为无异议。
            </p>
        </li>
        <li>
            <div class="page-a">
                <span class="foot-l">被告知者签名</span>
                <span class="foot-r">常熟市疾病预防控制中心</span>
                <div class="clearfix"></div>
            </div>
            <div>
                <span class="foot-l">
                    &nbsp;&nbsp;
                    年&nbsp;月&nbsp;日
                </span>
                <span class="foot-r">$!printDate</span>
                <div class="clearfix"></div>
            </div>

        </li>
    </ul>
</div>

<script type="text/javascript">
    JsBarcode(".tjCodeImg1", "$!vo.examMemberExam.examNumber",{displayValue:false,height:80,width:5});
</script>

#end


<script type="text/javascript">
    //打印当前页面
    bowerPrint.a4Print();
</script>

</body>
</html>