<div class="bjui-pageHeader heard-query">
    <form id="pagerForm" data-toggle="ajaxsearch" action="#U('index')" method="post">
        #pageInput($page)

        <div class="bjui-searchBar">

##            <button class="btn btn-default" href="javascript:;"
##               data-toggle="reloadsearch" data-clear-query="true"
##               >清空查询</button>

            <button style="float: right;" href="#U('toAddExamPackage')" class="btn btn-default"
               data-toggle="dialog"
               data-id="addExamUnit"
               data-title="添加体检套餐"
               data-width="740"
               data-height="280"
            >&nbsp;添加体检套餐&nbsp;</button>
            <div class="clearfix;"></div>
        </div>
    </form>
</div>
<div class="bjui-pageContent tableContent">
    <table class="table table-bordered table-top" data-selected-multi="true">
        <thead>
        <tr class="first-tr-style">
            <th align="center">体检套餐名称</th>
            <th align="center">体检套餐项目</th>
            <th align="center">体检套餐费用</th>
            <th align="center" width="220">操作</th>
        </tr>
        </thead>
        <tbody class="hover-color">
            #foreach($vo in $page.list)
            <tr>
                <td align="center">$!vo.name</td>
                <td align="center">$!vo.projectName</td>
                <td align="center">$!vo.money</td>
                <td align="center">
                    <button  data-toggle="dialog" data-id="updateExamPackage" data-width="740" data-height="280"  class="btn btn-default" href="#U('toUpdateExamPackage?id=?',$vo.id)"
                       >编辑</button>
                    <button type="button" class="btn btn-default" href="#U('delete?id=?',$vo.id)"
                       data-toggle="doajax" data-confirm-msg="确定要删除吗？">删除</button>
                </td>
            </tr>
            #end
        </tbody>
    </table>

</div>
#page($page)
