<div class="bjui-pageHeader">
    <form id="pagerForm" data-toggle="ajaxsearch" action="#U('lookBackArea')" method="post">
        #pageInput($page)

        <div class="bjui-searchBar">
            <label>地区:</label>
            <select name="parentId"  data-toggle="selectpicker" data-width="200">
                <option value="0">省份</option>
                #rootArea($query.parentId)
            </select>&nbsp;

            <button type="submit" class="btn-default" data-icon="search">查询</button>&nbsp;
            <a class="btn btn-orange" href="javascript:void(0);" data-toggle="reloadsearch"
               data-clear-query="true" data-icon="undo">清空查询</a>

            &nbsp;&nbsp;&nbsp;
            <div class="pull-right">
                <button type="button" class="btn-blue" data-toggle="lookupback" data-lookupid="ids" data-warn="请至少选择一项!" data-icon="check-square-o">选择选中</button>
            </div>
        </div>

    </form>
</div>
<div class="bjui-pageContent tableContent">
    <table class="table table-bordered table-hover table-striped table-top">
        <thead>

        <tr>
            <th width="50">编号</th>
            <th>名称</th>
            <th>拼音</th>
            <th>代号</th>
            <th width="28"><input type="checkbox" class="checkboxCtrl" data-group="ids" data-toggle="icheck"></th>
            <th width="80">操作</th>
        </tr>
        </thead>
        <tbody>
            #foreach($vo in $page.list)
            <tr  data-id="$vo.id">
                <td>$!vo.id</td>
                <td>$!vo.name</td>
                <td>$!vo.pinyin</td>
                <td>$!vo.code</td>
                <td><input type="checkbox" name="ids" data-toggle="icheck" value="{areaId:'$!vo.id', areaName:'$!vo.name',goods:'$!vo.id'}"></td>
                <td>
                    <a href="javascript:void(0);" data-toggle="lookupback" data-args="{areaId:'$!vo.id', areaName:'$!vo.name',goods:'$!vo.id'}" class="btn btn-blue" title="选择本项" data-icon="check">选择</a>
                </td>
            </tr>
            #end
        </tbody>
    </table>
</div>
<script>
</script>
#page($page)
##<div class="bjui-pageFooter">
##</div>