<div class="bjui-pageContent">
    <form action="#U('addArea')"
          data-reload-navtab="false"
          method="post" class="pageForm" data-toggle="validate" >

        <input type="hidden" name="" value=""/>
        <div class="form-group">
            <label class="control-label x85">所属省份：</label>
            <select name="parentId"  data-toggle="selectpicker" data-width="170">
                <option value="0">我是省</option>
                #rootArea()
            </select>
        </div>
        <div class="form-group">
            <label class="control-label x85">名称：</label>
            <input type="text"   name="name" value=""
                   data-rule="required" size="30"
            />
        </div>
        <div class="form-group">
            <label class="control-label x85">代号：</label>
            <input type="text"   name="code" value=""
                   data-rule="required" size="30"
            />
        </div>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close" data-icon="close">关闭</button></li>
        <li><button type="submit"  class="btn-default" data-icon="save">保存</button></li>
    </ul>
</div>
<script>

</script>