<div class="bjui-pageHeader">
    <form id="pagerForm" data-toggle="ajaxsearch" action="" method="post">
        #pageInput($page)
            &nbsp;&nbsp;&nbsp;
            <a href="#U('toAddWxBQuestion')" class="btn btn-default"
               data-toggle="dialog"
               data-id="addWxBQuestion"
               data-title="新增常见问题"
               data-width="800"
               data-height="350"
            >&nbsp;新增常见问题&nbsp;</a>
        </div>
    </form>
</div>
<div class="bjui-pageContent tableContent">
    <table class="table table-bordered table-hover table-striped table-top" data-selected-multi="true" style="table-layout: fixed;">
        <thead>
        <tr>

            <th align="center">问答</th>
            <th align="center" width="220">操作</th>
        </tr>
        </thead>
        <tbody>
            #foreach($vo in $page.list)
            <tr>

                <td align="center" style="word-wrap: break-word" width="40">$!{velocityCount}.$!vo.ask? <br/>
                答：$!vo.answer</td>
                <td align="center">
                    <a   data-toggle="dialog" data-id="upWxBQuestion" data-width="800" data-height="350" class="btn btn-default" href="#U('toUpWxBQuestion?id=?',$vo.id)"
                    >编辑</a>
                    <a   data-toggle="doajax"  data-id="delWxBQuestion" data-width="600"  class="btn btn-default" data-confirm-msg="确定要删除吗？" href="#U('deleteWxBQuestion?id=?',$vo.id)"
                    >删除</a>
                </td>
            </tr>
            #end
        </tbody>
    </table>

</div>
#page($page)
