<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>体检单打印</title>
    <link rel="stylesheet" type="text/css" href="../assets/printExam/css/style-machine.css"/>
    <!--疾控体检单打印-->
    <script src="/myJs/es6-promise.auto.min.js"></script>
    <script src="/myJs/html2canvas.min.js"></script>
    <script src="../js/jquery-1.7.2.min.js"></script>
    <link rel="stylesheet" href="../assets/machineCss/css/sweetalert.css">
    <script src="../assets/machineCss/js/sweetalert.min.js"></script>
    <script src="../assets/printExam/js/JsBarcode.code128.min.js"></script>
    <script src="/js/LocalServiceApi.js"></script>
    <style>
        *{
            background: #fff;
        }
    </style>
</head>
<body style="">


##<button id="jkMachinePrintViewTransferFormAction">打印</button>



    <div id="tk" class="jkMachinePrintView" style="padding-top: 10px" >

        <table width="100%" style="text-align:center;">
            <tbody>
            <tr>
                <td colspan="2" style="font-size: 28px;">从业人员预防性健康检查流转单</td>
            </tr>
            </tbody>
        </table>

        <table class="ticket top" style="height: 300px">

            <tbody>
            <tr style="height: 120px;">
                <td>
                    <span class="item" style="font-size: 21px;">体 检 号：</span>
                    <dl class="bar-code" style="margin: 0px">
                        <dt class="bar-img" style="width: 231px;">
                            <img class="tjCodeImg" style="width: 230px"  alt="">
                        </dt>
                        <dd class="bar-num" style="font-size: 21px;">
                            #if($!tag)<span>*</span>&nbsp;#end$!examMemberExam.examNumber
                        </dd>
                    </dl>
                </td>
                <td>
                    <dl style="margin-top: 0px;margin-bottom: 0px;margin-left: 10px">
                        <dt style="height: 88px;line-height: 100px;font-size: 21px;font-weight:normal;">
                            姓&emsp;名：<span class="name" style="font-size: 21px;">$!examMemberExam.name</span>
                        </dt>
                        <dd style="width:80px;font-size: 21px;">
                            性&emsp;别：<span class="sex" style="font-size: 21px;">$!examMemberExam.sexStr</span>
                        </dd>
                    </dl>

                </td>
            </tr>
            <tr>
                <td colspan="2" style="font-size: 21px;height: 20px;">
                    身份证号：<span class="id-card" style="font-size:23px">$!examMemberExam.idCardNum</span>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="font-size: 21px;height: 20px;">
                    工作单位：<span class="work-unit" style="font-size: 21px;">$!examMemberExam.workUnit</span>
                </td>
            </tr>
            <tr>
                <td style="font-size: 21px;height: 20px;">
                    体检日期：<span class="exam-date" style="font-size: 21px;">$!examMemberExam.examTimeShort</span>
                </td>
                <td style="font-size: 21px;height: 20px">
                    行 业：<span class="vocation" id="hyText"
                              style="font-size: 21px;">$!{examMemberExam.categoryName}</span>
                </td>
            </tr>
        </table>

        <table border=0 cellspacing=0 class="inner-table" style="font-size: 26px;margin-top:20px;margin-bottom: 2px;">
            <tr>
                <td colspan="2" class="head" style="font-size: 26px;">体 检 流 程</td>
            </tr>
            <tr>
                <td class="head half" style="font-size: 26px;">项&emsp;&emsp;目</td>
                <td class="head half" style="font-size: 26px;">完 成 情 况</td>
            </tr>
            <tr>
                <td style="font-size: 26px;">&emsp;1.缴费$!examMemberExam.payMoney元</td>
                <td  style="text-align: center">
                    #if($isPay)已缴费#end
                </td>
            </tr>
            #foreach($examP in $examProject)
                <tr>
                    <td style="font-size: 26px;">&emsp;$examP</td>
                    <td></td>
                </tr>
            #end
        ##        <tr>
        ##            <td style="font-size: 26px;">&emsp;2.内科检查</td>
        ##            <td></td>
        ##        </tr>
        ##        <tr>
        ##            <td style="font-size: 26px;">&emsp;3.胸部X线检查</td>
        ##            <td></td>
        ##        </tr>
        ##        <tr>
        ##            <td style="font-size: 26px;">&emsp;4.肠检</td>
        ##            <td></td>
        ##        </tr>
        ##        <tr>
        ##            <td style="font-size: 26px;">&emsp;5.血检</td>
        ##            <td></td>
        ##        </tr>
        </table>
        <table style="margin-top: 20px">


            <tr class="notice" >
                <td colspan="2" style="height: 25px">友情提示：</td>
            </tr>
            <tr class="notice">
                <td colspan="2" style="height: 25px">&emsp;&emsp;体检完成5个工作日后，可凭身份证在大厅自助机上</td>
            </tr>
            <tr class="notice"  style="height: 25px">
                <td colspan="2">打印健康证，如有疑问请咨询工作人员。</td>
            </tr>
            </tbody>
        </table>
        <table class="ticket" style="margin-top: 36px;
    margin-left: -10px;">
            <tbody>
            <tr>
                <td class="bar-box">
                    <dl class="bar-code">
                        <dt class="bar-img">
                            <img  class="tjCodeImg"  alt="" style="width: 230px;">
                        </dt>
                        <dd class="bar-num" style="font-size: 21px;">#if($!tag)<span>*</span>&nbsp;#end$!examMemberExam.examNumber</dd>
                    </dl>
                </td>
                <td class="bar-box">
                    <dl class="bar-code">
                        <dt class="bar-img">
                            <img  class="tjCodeImg" alt="" style="width: 230px;">
                        </dt>
                        <dd class="bar-num" style="font-size: 21px;">#if($!tag)<span>*</span>&nbsp;#end$!examMemberExam.examNumber</dd>
                    </dl>
                </td>
            </tr>
            <tr>
                <td class="bar-box">
                    <dl class="bar-code">
                        <dt class="bar-img">
                            <img  class="tjCodeImg"  alt="" style="width: 230px;">
                        </dt>
                        <dd class="bar-num" style="font-size: 21px;">#if($!tag)<span>*</span>&nbsp;#end$!examMemberExam.examNumber</dd>
                    </dl>
                </td>
                <td class="bar-box">
                    <dl class="bar-code">
                        <dt class="bar-img" >
                            <img class="tjCodeImg" alt="" style="width: 230px;">
                        </dt>
                        <dd class="bar-num" style="font-size: 21px;">#if($!tag)<span>*</span>&nbsp;#end$!examMemberExam.examNumber</dd>
                    </dl>
                </td>
            </tr>
            </tbody>
        </table>

    </div>



<img src="" id="s" style="float: right;margin-top: 500px"/>
<input type="hidden" id="memberExamId" value="$!examMemberExam.id">


</div>
</body>
</html>

<script>
    JsBarcode(".tjCodeImg", "$!examMemberExam.examNumber",{displayValue:false,height:80,width:5});
    d = "";
    var timeOutStr = 4000;

    function machinePrintForm() {

        html2canvas(document.getElementById("tk"),{
            onrendered:function(canvas) {
                d = canvas.toDataURL();

                s.src = d;
                var i = d.indexOf(",");
                d = d.substr(i + 1);

//                var returnResult = printX.printImage(d, 200, 'com5', 115200);
                localService.k532Print(d,function () {
                    var memeberExamId = $('#memberExamId').val();

                    parent.machinePrintSuccess(memeberExamId);
                },function (msg) {
                    parent.machinePrintFail();

                })
            }
        });

    }


            $('#jkMachinePrintViewTransferFormAction').click(function () {





//                if (returnResult) {
//                    $(this).alertmsg('ok', "打印成功");
//
//                    var memeberExamId = $('#memberExamId').val();
//
//                    updatePhysicalPrint(memeberExamId);
//
//
//                } else {
//                    $(this).alertmsg('error', "打印失败");
//                    $.CurrentDialog.dialog('closeCurrent');
//                }
            });

    setTimeout(function () {
        machinePrintForm();
    })



</script>