<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>常熟市疾病预防控制中心欢迎使用自助系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../assets/machineCss/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/machineCss/css/buttons.css">
    <link rel="stylesheet" href="../assets/machineCss/css/sweetalert.css">
    <link rel="stylesheet" href="../assets/machineCss/css/style.css">
    <script src="../assets/B-JUI/BJUI/js/jquery-1.7.2.min.js"></script>
</head>
<body class="print container">
<a id="backToHome" class="pull-left go-back button button-glow button-border button-primary burron-rounded button-go-back">返&nbsp;&nbsp;回</a>

<div class="main-content">
##    <h1>常熟市疾病预防控制中心</h1>
    <p class="big-font-size">欢迎使用自助系统</p>
    <p class="pls-wait big-font-size" id="pls-wait">正在打印体检单<br>请稍后...</p>
</div>
<script>

    var secs = 10;
    var timerId;
    for (var i = 0; i <= secs; i++) {
        timerId =  setTimeout("update(" + i + ");", i * 1000);
    }

    function update(num) {
        if (num == secs) {
            clearTimeout(timerId);
            backToHome();
        }
        else {
            var printnr = secs - num;
        }
    }


    $("#backToHome").click(function () {
        backToHome();
    });

    function backToHome(){

        clearTimeout(timerId);

        window.location.replace("http://" + window.location.host + "/machine/index.do");
    }


</script>
</body>
</html>