
<div class="bjui-pageContent" id="divId">
    <form action="#U('addMenu')"
          id="addGood"
          data-reload-navtab="false"
          method="post" class="pageForm" data-toggle="validate">
        <input type="hidden" name="parentId" value="$!vo.parentId"/>
        <div class="form-group">
            <label class="control-label x85">菜单名称：</label>
            <input type="text" data-width="800" data-height="600" data-rule="required"
                   name="name" size="30">
        </div>
        <div class="form-group">
            <label class="control-label x85">URL：</label>
            <input id="urlId" type="text" name="url" v-model="url"
                   data-rule="required" size="30"/>
        </div>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li>
            <button type="button" class="btn-default" >关闭</button>
        </li>
        <li>
            <button type="submit" class="btn-default" >保存</button>
        </li>
    </ul>
</div>
<script>
  /*  function catchUrl() {
        var stringURL=document.getElementById("urlId").value;
        var urls="http://localhost:8080/admin/" + stringURL+".do";
    }*/
  /*var localUrl='http://localhost:8080/admin/'
    var catchUrl= new Vue({
        el:"#urlId",
        data:{
            url:localUrl,
        }/!*,
        computed:{
            url: function () {
                urls="http://localhost:8080/admin/" + url+".do";
            }

        }*!/
    });*/

</script>