<div class="bjui-pageContent">
    <form action="#U('selectPackage')"
          data-reload-navtab="false"
          method="post" class="pageForm" data-toggle="validate" >

        <input type="hidden" name="categoryPackageId" value="$!categoryPackageId"/>
        <input type="hidden" name="categoryId" value="$!examCategory.id"/>

        <div class="form-group">
            <br/>
            <label class="control-label x85">行业类别：</label>
            $!examCategory.categoryName
        ##            <input type=""   name="" value="$!examCategory.categoryName"
        ##                   data-rule="required" size="30"
        ##            />
        </div>
        <div class="form-group">
            <label class="control-label x85">体检套餐：</label>
            <select name="packageId" id="addPackage"  data-toggle="selectpicker" data-width="170"
                    data-emptytxt="请选择" data-rule="required;">
                <option value="">请选择套餐</option>
                #LoadBean("examPackageService")
                #foreach($el in $examPackageService.getAllPackage())
                    <option  value="$!el.id"
                        #if($!el.id==$!oldPackageId)
                             selected
                        #end
                    >$!el.name</option>
                #end
            #end
            </select>
            <span class="middle red">*</span>
        </div>
        <div class="add-role-button">
            <ul>
                <li><button type="button" class="btn btn-close" >关闭</button></li>
                <li><button type="submit"  class="btn-default" >保存</button></li>
            </ul>
        </div>
    </form>
</div>
<script>

</script>