<div class="bjui-pageContent">
    <form action="#U('upCategorySon')"
          data-reload-navtab="false"
          method="post" class="pageForm" data-toggle="validate" >

        <input type="hidden" name="id" value="$!examCategory.id"/>

        <div class="form-group">
            <br/>
            <label class="control-label x85">行业类别：</label>
            $!examCategory.parentExamCategory.categoryName
        ##            <input type=""   name="" value="$!examCategory.categoryName"
        ##                   data-rule="required" size="30"
        ##            />
        </div>
        <div class="form-group">
            <br/>
            <label class="control-label x85">行业名称：</label>
            <input type="text"   name="categoryName" value="$!examCategory.categoryName"
                   data-rule="行业名称:required" size="18"
            />
            <span class="middle red">*</span>
        </div>
        <div class="add-role-button">
            <ul>
                <li><button type="button" class="btn btn-close" >关闭</button></li>
                <li><button type="submit"  class="btn-default" >保存</button></li>
            </ul>
        </div>
    </form>
</div>
<script>

</script>