<div class="bjui-pageContent">
    <form action="#U('upCategory')"
          data-reload-navtab="false"
          method="post" class="pageForm" data-toggle="validate" >

        <input type="hidden" name="id" value="$!examCategory.id"/>

        <div class="form-group">
            <br/>
            <label class="control-label x85">行业类别：</label>
            <input type="text"   name="categoryName" value="$!examCategory.categoryName"
                   data-rule="行业类别:required" size="18"
            />
            <span class="middle red">*</span>
        </div>
        <br/>
        <div class="form-group">
            <label class="control-label x85">排序号：</label>
            <input type="text"   name="code" value="$!examCategory.code"
                   data-rule="required;number" size="18"
            />
            <span class="middle red">*</span>
        </div>
        <div class="add-role-button">
            <ul>
                <li><button type="button" class="btn btn-close" >关闭</button></li>
                <li><button type="submit"  class="btn-default" >保存</button></li>
            </ul>
        </div>
    </form>
</div>
<script>

</script>