/*.admin-login-by{*/
    /*height: 100%!important;*/
/*}*/
html{
    height:100%;
}
.top{
    width: 100%;
    height: 50px;
    background: url("../img/login-bg_01.jpg") no-repeat;
    position: absolute;
    top:0;
    left: 0;
}
.title{
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    color: #ffffff;
    text-indent: 290px;
}
.validate-item{
    margin: 22px 0 0 0;
}
.admin-login-content{
    background:url("../img/login_bg_02.png") no-repeat;
    width: 100%;
    height: 100%;
    /*background-size:100% 100% ;*/
    overflow: hidden;
}
.admin-login-ul{
    font-size: 18px;
    color: #ffffff;
    width: 560px;
    margin: 323px auto 0 auto;
}
.validate-label{
    width: 75px;
    text-align: right;
    display: block;
    float:left;
    line-height: 42px;
}
.admin-login-ul .validate-ipt{
    display: block;
    padding: 0 0 0 10px;
    float: left;
    width: 240px;
    height: 42px;
    border: none;
    background: url("../img/ipt-bg.png") repeat;
}
.validate-code-remind{
    display: block;
    float: left;
    margin: 20px 0 0 6px;
    cursor: pointer;
}
.login-bt{
    display: block;
    width: 250px;
    height: 42px;
    background-color: #01414e;
    border: none;
    border-radius: 8px;
    margin: 0 0 0 75px;
    color:#ffffff;
    font-weight: bold;
}
.code-img{
    display: block;
    float: left;
    margin: 0 0 0 10px;
    width: 99px;
    height: 42px;
}
.admin-login-ul .validate-code-ipt{
    width: 140px;
}
.ipt-remind{
    display: none;
    float: left;
    font-size: 14px;
    color:red;
    margin: 20px 0 0 10px;
}
.footer{
    width: 100%;
    position: absolute;
    bottom:0;
    left: 0;
    height:50px;
    line-height: 50px;
    /*background: #ccc;*/
    background: url(../img/login-bg_3.png) no-repeat;
}