<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">

    <title>$!config.title</title>

    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv= "X-UA-Compatible" content = "IE=edge,chrome=1"/>

    <meta name="Keywords" content="$!config.keyword"/>
    <meta name="Description"
          content="$!config.description"/>
    <!-- bootstrap - css -->
    <script type="text/javascript" src="/assets/cameracut/webcam/webcam.js"></script>
    <link href="../assets/B-JUI/BJUI/themes/css/bootstrap.css" rel="stylesheet">
    <!-- core - css -->
    <link href="../assets/B-JUI/BJUI/themes/css/style.css" rel="stylesheet">
    <link href="../assets/B-JUI/BJUI/themes/blue/core.css" id="bjui-link-theme" rel="stylesheet">
    <!-- plug - css -->
    <link href="../assets/B-JUI/BJUI/plugins/kindeditor_4.1.10/themes/default/default.css" rel="stylesheet">
    <link href="../assets/B-JUI/BJUI/plugins/colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
    <link href="../assets/B-JUI/BJUI/plugins/niceValidator/jquery.validator.css" rel="stylesheet">
    <link href="../assets/B-JUI/BJUI/plugins/bootstrapSelect/bootstrap-select.css" rel="stylesheet">
    <link href="../assets/B-JUI/BJUI/themes/css/FA/css/font-awesome.min.css" rel="stylesheet">
    <link href="../assets/select2/css/select2.min.css" rel="stylesheet">

    <!--[if lte IE 7]>
    <link href="../assets/B-JUI/BJUI/themes/css/ie7.css" rel="stylesheet">
    <![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lte IE 9]>
    <script src="../assets/B-JUI/BJUI/other/html5shiv.min.js"></script>
    <script src="../assets/B-JUI/BJUI/other/respond.min.js"></script>
    <![endif]-->
##    <script src="../assets/vue.js"></script>
    <script src="../assets/avalon.js"></script>


    <!-- jquery -->

##    <script src="../js/jquery.js"></script>
    <script src="../js/jquery-1.7.2.js"></script>

    <script type="text/javascript" src="/assets/cameracut/cropper/cropper.min.js"></script>
    <link rel="stylesheet" href="/assets/cameracut/cropper/cropper.min.css"/>
    <script src="../assets/avalonVM.js"></script>

    <script src="../assets/B-JUI/BJUI/js/jquery.cookie.js"></script>
    <script src="../js/jquery.placeholder.min.js"></script>

    <script src="../js/jquery.autocomplete.js"></script>
    <link rel="stylesheet" type="text/css" href="../js/jquery.autocomplete.css" />

    <script type="text/javascript" src="../assets/treeTable/jquery.treeTable.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../assets/treeTable/themes/vsStyle/treeTable.min.css" />
    <script type="text/javascript" src="../assets/jquery.fancybox-1.3.4/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
    <script type="text/javascript" src="../assets/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <link rel="stylesheet" type="text/css" href="../assets/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.css" media="screen" />

    <script src="../assets/JqueryUpload/js/vendor/jquery.ui.widget.js"></script>
    <script src="../assets/JqueryUpload/js/jquery.iframe-transport.js"></script>
    <script src="../assets/JqueryUpload/js/jquery.fileupload.js"></script>

    <script src="../assets/jqueryDataFormat/dateFormat.js"></script>
    <script src="../assets/jqueryDataFormat/jquery.dateFormat.js"></script>
    <script src="../assets/ypb.js"></script>
    <script src="../assets/jquery.upload.js"></script>
##    <script src="../js/Jcrop/js/jquery.color.js"></script>
##    <script src="../js/Jcrop/js/Jcrop.js"></script>
    <link rel="stylesheet" type="text/css" href="../js/webuploader/dist/webuploader.css" />

##    <link rel="stylesheet" type="text/css" href="../js/Jcrop/css/Jcrop.css" />
    <script src="../js/webuploader/dist/webuploader.js"></script>

##    <script src="../js/cropper/dist/cropper.js"></script>
##    <link rel="stylesheet" type="text/css" href="./js/cropper/dist/cropper.css"/>
    <!-- BJUI.all 分模块压缩版 -->
##    <script src="../assets/B-JUI/BJUI/js/bjui-all.js"></script>
    <script src="../js/ImageCrop.js"></script>
    <!-- 以下是B-JUI的分模块未压缩版，建议开发调试阶段使用下面的版本 -->
##
    <script src="../assets/B-JUI/BJUI/js/bjui-core.js"></script>
    <script src="../assets/B-JUI/BJUI/js/bjui-regional.zh-CN.js"></script>
    <script src="../assets/B-JUI/BJUI/js/bjui-frag.js"></script>
    <script src="../assets/B-JUI/BJUI/js/bjui-extends.js"></script>
    <script src="../assets/B-JUI/BJUI/js/bjui-basedrag.js"></script>
    <script src="../assets/B-JUI/BJUI/js/bjui-slidebar.js"></script>
    <script src="../assets/B-JUI/BJUI/js/bjui-contextmenu.js"></script>
    <script src="../assets/B-JUI/BJUI/js/bjui-navtab.js"></script>
    <script src="../assets/B-JUI/BJUI/js/bjui-dialog.js"></script>
    <script src="../assets/B-JUI/BJUI/js/bjui-taskbar.js"></script>
    <script src="../assets/B-JUI/BJUI/js/bjui-ajax.js"></script>
    <script src="../assets/B-JUI/BJUI/js/bjui-alertmsg.js"></script>
    <script src="../assets/B-JUI/BJUI/js/bjui-pagination.js"></script>
    <script src="../assets/B-JUI/BJUI/js/bjui-util.date.js"></script>
    <script src="../assets/B-JUI/BJUI/js/bjui-datepicker.js"></script>
    <script src="../assets/B-JUI/BJUI/js/bjui-ajaxtab.js"></script>
    <script src="../assets/B-JUI/BJUI/js/bjui-datagrid.js"></script>
    <script src="../assets/B-JUI/BJUI/js/bjui-tablefixed.js"></script>
    <script src="../assets/B-JUI/BJUI/js/bjui-tabledit.js"></script>
    <script src="../assets/B-JUI/BJUI/js/bjui-spinner.js"></script>
    <script src="../assets/B-JUI/BJUI/js/bjui-lookup.js"></script>
    <script src="../assets/B-JUI/BJUI/js/bjui-tags.js"></script>
    <script src="../assets/B-JUI/BJUI/js/bjui-upload.js"></script>
    <script src="../assets/B-JUI/BJUI/js/bjui-theme.js"></script>
    <script src="../assets/B-JUI/BJUI/js/bjui-initui.js"></script>
    <script src="../assets/B-JUI/BJUI/js/bjui-plugins.js"></script>
    <script src="../assets/select2/js/select2.min.js"></script>

    <!-- plugins -->
    <!-- swfupload for uploadify && kindeditor -->
    <script src="../assets/B-JUI/BJUI/plugins/swfupload/swfupload.js"></script>
    <!-- kindeditor -->
    <script src="../assets/B-JUI/BJUI/plugins/kindeditor_4.1.10/kindeditor-all.min.js"></script>
    <script src="../assets/B-JUI/BJUI/plugins/kindeditor_4.1.10/lang/zh_CN.js"></script>
    <!-- colorpicker -->
    <script src="../assets/B-JUI/BJUI/plugins/colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <!-- ztree -->
    <script src="../assets/B-JUI/BJUI/plugins/ztree/jquery.ztree.all-3.5.js"></script>
    <!-- nice validate -->
    <script src="../assets/B-JUI/BJUI/plugins/niceValidator/jquery.validator.js"></script>
    <script src="../assets/B-JUI/BJUI/plugins/niceValidator/jquery.validator.themes.js"></script>
    <!-- bootstrap plugins -->
    <script src="../assets/B-JUI/BJUI/plugins/bootstrap.min.js"></script>
    <script src="../assets/B-JUI/BJUI/plugins/bootstrapSelect/bootstrap-select.min.js"></script>
    <script src="../assets/B-JUI/BJUI/plugins/bootstrapSelect/defaults-zh_CN.min.js"></script>
    <!-- icheck -->
    <script src="../assets/B-JUI/BJUI/plugins/icheck/icheck.min.js"></script>
    <!-- dragsort -->
    <script src="../assets/B-JUI/BJUI/plugins/dragsort/jquery.dragsort-0.5.1.min.js"></script>
    <!-- HighCharts -->
    <script src="../assets/B-JUI/BJUI/plugins/highcharts/highcharts.js"></script>
    <script src="../assets/B-JUI/BJUI/plugins/highcharts/highcharts-3d.js"></script>
    <script src="../assets/B-JUI/BJUI/plugins/highcharts/themes/gray.js"></script>
    <!-- ECharts -->
    <script src="../assets/B-JUI/BJUI/plugins/echarts/echarts.js"></script>
    <!-- other plugins -->
    <script src="../assets/B-JUI/BJUI/plugins/other/jquery.autosize.js"></script>
    <link href="../assets/B-JUI/BJUI/plugins/uploadify/css/uploadify.css" rel="stylesheet">
    <script src="../assets/B-JUI/BJUI/plugins/uploadify/scripts/jquery.uploadify.min.js"></script>
    <script src="../assets/B-JUI/BJUI/plugins/download/jquery.fileDownload.js"></script>
    <script src="../js/jquery-editable-select.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../js/jquery-editable-select.min.css" />

##    <link rel="stylesheet" href="../assets/machineCss/css/sweetalert.css">
##    <script src="../assets/machineCss/js/sweetalert.min.js"></script>



##    <!--疾控体检单打印-->
##    <script src="../assets/printExam/js/html2canvas.js"></script>
##
##    <link rel="stylesheet" type="text/css" href="../assets/printExam/css/style-desktop.css" />
##    <link rel="stylesheet" type="text/css" href="../assets/printExam/css/style-machine.css" />
##    <link rel="stylesheet" type="text/css" href="../assets/printExam/css/style-recheck-desktop.css" />
##    <link rel="stylesheet" type="text/css" href="../assets/printExam/css/style-recheck-machine.css" />

##    <OBJECT classid=clsid:68DBF029-7F1B-4178-9C51-CA1FE5767D03 width=0 height=0 align="center" codebase="mtx_32.cab#version=1,0,0,1" id="mtx_32Ctrl" HSPACE=0 VSPACE=0>
##    </OBJECT>
##    <object id="localTool" classid="clsid:8d7d8518-ca58-4863-b94d-3c616fda7b35" width=0 height=0 HSPACE=0 VSPACE=0></object>


##    <script src="../assets/cj/js/easyui_extend.js"></script>


    <script type="text/javascript" src="/assets/cameracut/cameraCrop.js"></script>
    <script type="text/javascript" src="/myJs/localId.js"></script>
    <!-- init -->
    <script type="text/javascript">
        $(function () {
            BJUI.init({
                JSPATH: './assets/B-JUI/',         //[可选]框架路径
                PLUGINPATH: './assets/B-JUI/plugins/', //[可选]插件路径
                loginInfo: {style:"",url: '#U('/admin/public/login')', title: '登录'
                    , width: 430, height: 300}, // 会话超时后弹出登录对话框
                statusCode: {ok: 200, error: 300, timeout: 301}, //[可选]
                ajaxTimeout: 50000, //[可选]全局Ajax请求超时时间(毫秒)
                pageInfo: {
                    total: 'total',
                    pageCurrent: 'pageCurrent',
                    pageSize: 'pageSize',
                    orderField: 'orderField',
                    orderDirection: 'orderDirection'
                }, //[可选]分页参数
                alertMsg: {displayPosition: '',
                    displayMode: 'none', alertTimeout: 2000}, //[可选]信息提示的显示位置，显隐方式，及[info/correct]方式时自动关闭延时(毫秒)
                keys: {statusCode: 'statusCode', message: 'message'}, //[可选]
                ui: {
                    windowWidth: 0, //框架显示宽度，0=100%宽，> 600为则居中显示
                    showSlidebar: true, //[可选]左侧导航栏锁定/隐藏
                    clientPaging: true, //[可选]是否在客户端响应分页及排序参数
                    overwriteHomeTab: false //[可选]当打开一个未定义id的navtab时，是否可以覆盖主navtab(我的主页)
                },
                debug: true,    // [可选]调试模式 [true|false，默认false]
                theme: 'sky' // 若有Cookie['bjui_theme'],优先选择Cookie['bjui_theme']。皮肤[五种皮肤:default, orange, purple, blue, red, green]
            })

            // main - menu
            $('#bjui-accordionmenu')
                    .collapse()
                    .on('hidden.bs.collapse', function (e) {
                        $(this).find('> .panel > .panel-heading').each(function () {
                            var $heading =
                            $(this), $a = $heading.find('> h4 > a')

                            if ($a.hasClass('collapsed')) $heading.removeClass('active')
                                    }
                        )
                    })
                    .on('shown.bs.collapse', function (e) {
                        $(this).find('> .panel > .panel-heading').each(function () {
                            var $heading =
                            $(this), $a = $heading.find('> h4 > a')

                            if (!$a.hasClass('collapsed')) $heading.addClass('active')
                                    }
                        )
                    })

            $(document).on('click', 'ul.menu-items li > a', function (e) {
                var $a =
                $(this), $li = $a.parent(), options = $a.data(
                    'options').toObj(), $children = $li.find('> .menu-items-children')
                var onClose = function () {
                    $li.removeClass('active')
                }
                var onSwitch = function () {
                    $('#bjui-accordionmenu').find('ul.menu-items li').removeClass('switch')
                    $li.addClass('switch')
                }

                $li.addClass('active')
                if (options) {
                    options.url = $a.attr('href')
                            options.onClose = onClose
                    options.onSwitch = onSwitch
                    if (!options.title) options.title = $a.text()

                    if (!options.target)
                            $a.navtab(options);
                    else
                            $a.dialog(options);
                }
                if ($children.length) {
                        $li.toggleClass('open');
                }

                e.preventDefault()
            })

            //时钟
            var today = new Date(), time = today.getTime()
            $('#bjui-date').html(today.formatDate('yyyy/MM/dd'))
            setInterval(function () {
                today = new Date(today.setSeconds(today.getSeconds() + 1))
                $('#bjui-clock').html(today.formatDate('HH:mm:ss'))
            }, 1000)
        })

        $(function() {
            $('input, textarea').placeholder();
        });

        //菜单-事件
        function MainMenuClick(event, treeId, treeNode) {
            event.preventDefault()

            if (treeNode.isParent) {
                var zTree = $.fn.zTree.getZTreeObj(treeId);

                zTree.expandNode(treeNode, !treeNode.open, false, true, true);
                return;
            }

            if (treeNode.target && treeNode.target == 'dialog')
                $(event.target).dialog({id: treeNode.tabid, url: treeNode.url, title: treeNode.name});
            else
                $(event.target).navtab({
                    id: treeNode.tabid,
                    url: treeNode.url,
                    title: treeNode.name,
                    fresh: treeNode.fresh,
                    external: treeNode.external
                });
        }
    </script>

    <!-- for doc end -->

    <style>
        .line-height-one{
            display: inline-block;
            height: 28px;
            line-height: 28px;
        }
        .button-box{
            height: 58px;
        }
        .add-role-button{
            width: 100%;
            height: 64px;
            position: relative;
        }
        .add-role-button ul{
            top:32px;
            left: 50%;
            margin-left: -54px;
            width: 180px;
            position: absolute;
        }
        .add-role-button li{
            display: inline-block;
            margin-right: 20px;
        }
        .hover-color tr:hover{
            background-color: #999!important;
        }
        .heard-query{
            padding: 10px;
        }
        .first-tr-style th{
            height: 30px;
            font-size: 14px!important;
            line-height: 30px!important;
            background-color:#7caeda!important;
        }
        .button-left{
            float: left;
        }
        .new-add-right{float: right;}
        .new-add-right:after,
        .button-left:after{
            content: "";
            display: block;
            clear:both;
        }
        .btn{
            height: 28px !important;
            padding: 4px 10px;
            border-radius: 5px;
            font-size: 13px;
        }
        .selectpicker > .filter-option{
            font-size: 14px;

        }
        ul.selectpicker > li{
            height: 27px;
            line-height: 27px;
        }
        .dropdown-menu > li > a span{
            font-size: 14px;
        }


        label.x85{
            width: 150px;
            font-size: 15px;
        }
        .bjui-pageHeader label{
            font-size: 14px;
            vertical-align: middle;
        }
        .form-control{
            height: 28px;
        }
        .logo-title{
            color: #ffffff;
            font-size: 30px;
            margin-top: 10px;
        }
        .logo-title:hover{
            text-decoration: none;
            color: #ffffff;
        }
        .bjui-pageFooter ul{
            float: left;
        }

        .bottomBtnDiv{
            margin-top: 30px;
        }

        .bottomBtnUl{
            width: 200px;margin: 0 auto;
        }

        .bottomBtnLi{
            float: left;
            margin-left: 30px;
        }

        @font-face {
            font-family: 'Glyphicons Halflings';

            src: url('/assets/B-JUI/BJUI/themes/fonts/glyphicons-halflings-regular.eot');
            src: url('/assets/B-JUI/BJUI/themes/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
            url('/assets/B-JUI/BJUI/themes/fonts/glyphicons-halflings-regular.woff') format('woff'),
            url('/assets/B-JUI/BJUI/themes/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
            url('/assets/B-JUI/BJUI/themes/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
        }


    </style>



    <script src="/js/LocalServiceApi.js"></script>
    <script src="/js/photobooth_min.js"></script>
</head>
<body>
##<object id="CMTSiCardCtrl" WIDTH=10 HEIGHT=10 TYPE="application/x-itst-activex"
##        clsid="{B337FE20-908C-4419-BE81-7AF240BBA13F}" codebase="../assets/MTIDCard.cab#version=1,0,0,1" HSPACE=0 VSPACE=0> </object>
##<object id="printX" classid="clsid:8d7d8518-ca58-4863-b94d-3c616fda7b35" width="0" height="0" align="center" HSPACE=0 VSPACE=0></object>

##    明泰身份证读取
##<script>
##
##    var Version,Serial,DeviceHandle;
##
##    function DevOpen()//打开设备
##    {
##        var port = 0; //获取下拉框当前选值
##        var baud = 115200;    //获取下拉框当前选值
##        var st = mtx_32Ctrl.DeviceOpen(port,baud);
##        console.log("rs->"+st)
##        if((st == 0 || st < 0) && mtx_32Ctrl.lErrorCode != 0)
##        {
##            Version = "";
##            Serial = "";
##            DeviceHandle = "-1";
##            alert("打开设备失败，请拔掉设备重新安装");
##            return false;
##        }
##        else
##        {
##            DeviceHandle = st;
##            var sver = mtx_32Ctrl.DeviceVersion(DeviceHandle.value,1);
##            if(mtx_32Ctrl.lErrorCode == 0)
##                Version = sver;
##            else
##                Version = "";
##
##            var snr = mtx_32Ctrl.DeviceReadsnr(DeviceHandle.value,20);
##            if(mtx_32Ctrl.lErrorCode == 0)
##                Serial = snr;
##            else
##                Serial = "";
##            console.info("打开设备成功");
##            return true;
##        }
##    }
##
##    function GetCardinfo() {
##        var result=false;
##        if(DevOpen()){
##            var sft = "f:\\\\ee.bmp";
##
##            var ret = mtx_32Ctrl.IDCardGetCardInfo(DeviceHandle, sft);
##//            alert("ret:"+ret);
##            if (mtx_32Ctrl.lErrorCode == 0) {
##//            cardname.value =mtx_32Ctrl.idname;
##//            sex.value =mtx_32Ctrl.idsex;
##//            national.value =mtx_32Ctrl.idnation;
##//            birthday.value =mtx_32Ctrl.idborthday;
##//            number.value =mtx_32Ctrl.resultid;
##//            address.value =mtx_32Ctrl.idaddress;
##//            IssuingAuthority.value =mtx_32Ctrl.idissuingauthority;
##//            validity.value =mtx_32Ctrl.idinvaliddate;
##//            validity2.value =mtx_32Ctrl.idinvaliddate2;
##//            document.getElementById('img').src = "";
##//            document.getElementById('img').src=sft.value;
##                console.info(mtx_32Ctrl.idname);
##                result=
##                {
##                    idname:mtx_32Ctrl.idname,
##                    sex:mtx_32Ctrl.idsex,
##                    birthday:mtx_32Ctrl.idborthday,
##                    number:mtx_32Ctrl.resultid,
##                    img:sft,
##                    address:mtx_32Ctrl.idaddress
##                };
##
##//                alert("读二代证成功");
##
##            }
##            else {
##//            cardname.value = "";
##//            sex.value = "";
##//            national.value = "";
##//            birthday.value = "";
##//            number.value = "";
##//            address.value = "";
##//            IssuingAuthority.value = "";
##//            validity.value = "";
##//            validity2.value = "";
##//            sft.value = "";
##//            document.getElementById('img').src = "";
##
##
##                alert("读二代证失败，错误码为：" + mtx_32Ctrl.lErrorCode);
##
##            }
##            DevClose();
##        }
##//        if(sft.value == "")
##//        {
##//            alert("照片解析目录不能为空");
##//            return;
##//        }
##
##        return result;
##
##    }
##
##    function DevClose()//关闭设备
##    {
##        var ret = mtx_32Ctrl.DeviceClose(DeviceHandle);
##//        Version.value = "";
##//        Serial.value = "";
##//        DeviceHandle.value = "-1";
##        if(ret == 0){
##            console.log("关闭成功")
##        }else{
##            alert("关闭设备失败，错误码为：" + ret);
##        }
##//            alert("关闭设备成功");
##
##
##    }
##</script>

##新中新身份证读取


##pvc打印机打印


<script>

</script>
<!--[if lte IE 7]>
<div id="errorie">
    <div>您还在使用老掉牙的IE，正常使用系统前请升级您的浏览器到 IE8以上版本 <a target="_blank"
                                                 href="http://windows.microsoft.com/zh-cn/internet-explorer/ie-8-worldwide-languages">点击升级</a>&nbsp;&nbsp;强烈建议您更改换浏览器：<a
            href="http://down.tech.sina.com.cn/content/40975.html" target="_blank">谷歌 Chrome</a></div>
</div>
<![endif]-->
<div id="bjui-window">
    <header id="bjui-header" style="height: 90px">
        <div class="bjui-navbar-header">
            <button type="button" class="bjui-navbar-toggle btn-default" data-toggle="collapse"
                    data-target="#bjui-navbar-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="bjui-navbar-logo logo-title"

               href="#"><img width="85" height="41" src="/assets/examLogo.png">
                健康证微信自助系统
            </a>

        </div>
        <nav id="bjui-navbar-collapse">
            <ul class="bjui-navbar-right" >
                <li class="datetime">
                    <div><span  id="bjui-date">&nbsp;&nbsp;</span> <span  id="bjui-clock" style="margin-left: 10px;"></span></div>
                </li>
            ##                角色 $!{role.role}
                <li><a href="#"> 账户名称 $!{login_user.username}</a></li>

                <li><a href="#U('user/toUpdateAdminPassWord')" data-toggle="dialog"
                       data-width="500" data-height="264">&nbsp;
                    <span class="glyphicon glyphicon-lock"></span> 修改密码&nbsp;</a></li>

                <li class="divider"></li>
                <li><a href="#U('/admin/public/logout')" class="red">&nbsp;<span
                        class="glyphicon glyphicon-off"></span> 注销登陆</a></li>

            </ul>
        </nav>
        <div id="bjui-hnav" style="top: 58px;">
            <button type="button" class="btn-default bjui-hnav-more-left" title="导航菜单左移">
                <i class="fa fa-angle-double-left"></i></button>
            <div id="bjui-hnav-navbar-box">
            ##                加载菜单
##                #parse("/admin/menu_new.vm")
                #parse("/admin/menu_new.vm")

            </div>
            <button type="button" class="btn-default bjui-hnav-more-right" title="导航菜单右移">
                <i class="fa fa-angle-double-right"></i></button>
        </div>
    </header>
    <div id="bjui-container" class="clearfix">
        <div id="bjui-leftside">
            <div id="bjui-sidebar-s">
                <div class="collapse"></div>
            </div>
            <div id="bjui-sidebar">
                <div class="toggleCollapse" style="height: 30px;">
                    <h2 style="font-size: 16px;">
                        <i class="fa fa-bars"></i> 导航栏 <i class="fa fa-bars"></i>
                    </h2>
                ##                    <a href="javascript:;" class="lock"><i class="fa fa-lock"></i></a>
                </div>
                <div style="font-size: 16px;" class="panel-group panel-main" data-toggle="accordion" id="bjui-accordionmenu">
                </div>
            </div>
        </div>
        <div id="bjui-navtab" class="tabsPage">
            <div class="tabsPageHeader">
                <div class="tabsPageHeaderContent">
                    <ul class="navtab-tab nav nav-tabs">

                    </ul>
                </div>
                <div class="tabsLeft"><i class="fa fa-angle-double-left"></i></div>
                <div class="tabsRight"><i class="fa fa-angle-double-right"></i></div>
                <div class="tabsMore"><i class="fa fa-angle-double-down"></i></div>
            </div>
            <ul class="tabsMoreList">
                <li><a href="javascript:;">#maintab#</a></li>
            </ul>
            <div class="navtab-panel tabsPageContent">
##                <div class="navtabPage unitBox">
##                    <div class="bjui-pageContent" style="background:#FFF;">
##                        加载中...
##                    </div>
##                </div>
            </div>
        </div>
    </div>


    <script>
        $(document).keydown(function (event) {
            //判断当event.keyCode 为37时（即左方面键），执行函数to_left();
            //判断当event.keyCode 为39时（即右方面键），执行函数to_right();

            if (event.keyCode == 27) {
//                alert('esc键');
                var c= $.CurrentDialog
                if(c==undefined||c==null){
                    var nav= $.CurrentNavtab;
                    if(nav!=undefined&&nav!=null){
                        nav.navtab("closeCurrentTab");
                    }
                }else{
                    c.dialog("closeCurrent");
                }
            }

        });
    </script>
</div>
</body>
</html>